
.header {
  height: 70px;
  width: 100%;
  background: white;
  box-shadow: 0 3px 6px #00000029;
}
.header__container {
  height: 100%;
  margin: 0 auto;
  max-width: 1352px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  text-decoration: none;
}
.header__logo p {
  color: #08A6E4;
  font-size: 32px;
  font-weight: 300;
}
.header__nav__list {
  display: flex;
}
.header__nav__list li {
  padding: 28px 18px 22px;
  border-bottom: 4px solid transparent;
  color: #A5A5A5;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  margin-left: 30px;
}
.header__nav__list li:hover {
  color: black;
  border-color: #08A6E4;
  cursor: pointer;
}

.open-section {
  width: 100%;
}
.open-section__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
}
.open-section__title {
  font-family: "Raleway", sans-serif;
  font-size: 49px;
  font-weight: 300;
  color: black;
  margin-bottom: 20px;
}
.open-section__text {
  font-size: 16px;
  font-weight: normal;
  color: black;
  margin-bottom: 38px;
}
.open-section__button {
  border-radius: 40px;
  cursor: pointer;
  display: inline-block;
  padding: 26px 160px;
  background: #08A6E4;
  box-shadow: 5px 10px 14px #07ACE629;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.open-section__image {
  max-width: 1352px;
  width: 100%;
}

.statistics-section__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 150px;
  height: auto;
}
.statistics-section__title {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  color: #000000;
}
.statistics-section__label {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: black;
  letter-spacing: 6px;
  padding-top: 13px;
  padding-bottom: 19px;
}
.statistics-section__description {
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  color: #A5A5A5;
  text-align: center;
}
.statistics-section__entries {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: #FB3B64;
  position: relative;
}
.statistics-section__image {
  position: absolute;
  bottom: 10px;
}
.statistics-section__image--person {
  left: 50%;
}
.statistics-section__image--eye {
  left: 20px;
}
.statistics-section__image--catalog {
  left: 30px;
}
.statistics-section__products {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: #08A6E4;
  position: relative;
}
.statistics-section__posts {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: #55DFB4;
  position: relative;
}
.statistics-section__wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 100px;
  width: 100%;
}
.statistics-section__column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.benefits-section {
  width: 100%;
  padding: 70px 0 0;
  background-color: #f7f7f7;
}
.benefits-section__container {
  max-width: 1124px;
  margin: 0 auto;
}
.benefits-section__box--first {
  background: white;
  margin: 37px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 370px;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  padding: 35px 35px 10px 35px;
  position: relative;
  z-index: 1;
}
.benefits-section__box--second {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 370px;
  background-color: white;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  position: relative;
}
.benefits-section__box--third {
  background-color: white;
  text-align: left;
  border: 1px solid #E8E9ED;
}
.benefits-section__content {
  max-width: 416px;
  margin: 90px 35px;
}
.benefits-section__title {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  color: black;
}
.benefits-section__description {
  margin-top: 30px;
  line-height: 20px;
}
.benefits-section__photo--first {
  margin-right: 117px;
  margin-bottom: 38px;
}
.benefits-section__photo--first img {
  width: 386px;
  height: 219px;
  margin: 75px 80px 25px 170px;
  position: relative;
  z-index: 1;
}
.benefits-section__photo--second img {
  width: 426px;
  height: auto;
  margin: 30px 192px 13px 70px;
  z-index: 1;
}
.benefits-section__photo--third {
  background-color: #55dfb4;
  width: 440px;
  height: 370px;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}
.benefits-section__photo--third img {
  width: 295px;
  height: 208px;
  position: relative;
}

.second-benefits-box .benefits-title {
  margin-bottom: 30px;
}

.third-box-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
}

.third-box-position .third-benefits-box {
  width: 623px;
  height: 370px;
}

.third-benefits-box h2 {
  text-align: left;
  font-size: 36px;
  font-family: sans-serif;
  margin-top: -50px;
  width: 350px;
}

.third-benefits-box p {
  text-align: left;
  font-family: sans-serif;
  padding-top: 30px;
}

.content_substance {
  height: 230px;
}

.content_substance::after {
  content: "";
  display: block;
  width: 328px;
  margin: 45px 0 20px 0;
  border-radius: 20px;
}

.line1::after {
  border: 2px solid #fb3b64;
}

.line2::after {
  border: 2px solid #08a6e4;
}

.line3::after {
  border: 2px solid #55dfb4;
}

.shape {
  position: relative;
}

.shape:nth-child(1)::before {
  content: "";
  width: 200px;
  height: 200px;
  background: #fb3b64;
  position: absolute;
  border-radius: 41px;
  right: 90px;
  top: 30px;
  z-index: 0;
  transform: rotate(45deg);
}
/*# sourceMappingURL=main.css.map */
